body {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

.nav {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.right-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

li {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
}

/* Body section */
.body {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* First section */
.container-1 {
    background-color: #1f2937;
    margin: 0px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.showtext {
    max-width: 400px;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.h1-1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin-bottom: 0px;
}

img {
    max-width: 400px;
    max-height: max-content;

    flex-shrink: 0;
}

#button-1 {
    background-color: #3882f6;
    border-color: transparent;
    color: #f9faf8;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
}

/* Second section */

.container-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.container-card {
    display: flex;
    text-align: center;
    gap: 60px;
    margin-top: 10px;
}

.h1-2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.card {
    font-size: 60px;
}

.card-info {
    max-width: 200px;
}

.illustrate {
    color: #1f2937;
    width: 150px;
}

/* Third section */

.container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-top: 40px;
    padding-bottom: 40px;
}

.quotation {
    max-width: 750px;
    height: auto;
    padding-top: 60px;
    padding-bottom: 60px;
}

.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
}

.author {
    font-size: 30px;
    font-style: normal;
    color: #1f2937;
    font-weight: bold;
    text-align: end;
}

/* Forth section */

.container-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.box {
    background-color: #3882f6;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
}

.h3 {
    color: #f9faf8;
    margin-bottom: 0px;
    margin-top: 40px;
}

.part4-text {
    color: #e5e7eb;
    margin-top: 5px;
    margin-bottom: 40px;
    font-size: 16px;
}

#button-2 {
    background-color: #3882f6;
    border-color: #f9faf8;
    color: #f9faf8;
    width: 110px;
    height: 30px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14px;
    border-style: solid;
}

/* Footer */
.footer {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
}
